# Hidden files
.dockerignore
.git
.gitignore
.github/
.DS_Store
.vscode

# Build artifacts
*.pyc
*.so
*.egg
*.whl

# IDE files
.idea
*.iml
.classpath
.project

# Log files
*.log
*.err

# Test directories
test
tests
coverage
.pytest_cache

# Virtual environment
.venv
venv

# Cache directories
__pycache__/
.ruff_cache/

# Secret files
*.env
