FLASK_ENV=development
HOST=0.0.0.0
PORT=5000
SECRET_KEY=very_secret_web_app_key
ADMIN_PASSWORD=very_secret_admin_password
LOG_LEVEL=INFO
GOOGLEMAPS_KEY=google_maps_api_key

DB_URL=sqlite:///path_to_db_file/wedding.db
