<!DOCTYPE html>

{% extends "base.html" %}

{% block description %}Contact information.{% endblock %}

{% block header %}{{ config.app_name }} - Kontakta oss{% endblock %}

{% block content %}
    <p>Om du har några frågor eller funderingar kring bröllopet, tveka inte att kontakta oss!</p>
    <ul>
        <li><i class="fa fa-envelope"></i> - <a href="mailto:{{ config.wedding_couple_contact.email }}">{{ config.wedding_couple_contact.email }}</a></li>
        <li><i class="fa fa-phone"></i> - <a href="tel:{{ config.wedding_couple_contact.phone }}">{{ config.wedding_couple_contact.phone }}</a></li>
    </ul>
{% endblock %}
