<!DOCTYPE html>

{% extends "base.html" %}

{% block description %}The landing/home page of the website.{% endblock %}

{% block header %}{{ config.app_name }} - Välkommen{% endblock %}

{% block content %}
    <p>Välkommen till Edvin & Elinores bröllopssida!</p>
    <p>Här kommer du snart kunna hitta information om bröllopet, samt OSA-formuläret.</p>
    {% if config.venue %}
        <h2>Plats</h2>
        <p>Bröllopet kommer att hållas på <strong>{{ config.venue.name }}</strong>{% if config.venue.city %} i <strong>{{ config.venue.city }}</strong>{% endif %}.</p>
        <p>Adress: <strong>{{ config.venue.address }}</strong></p>
        {% if config.googlemaps_key %}
            <iframe
                width="600"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key={{ config.googlemaps_key }}&q={{ config.venue.name | urlencode }},{{ config.venue.address | urlencode }}">
            </iframe>
        {% endif %}
    {% endif %}

    {% if config.faq %}
        <h2>Vanliga frågor</h2>
        <div class="accordion mb-4" id="faqSection">
            {% for entry in config.faq %}
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq-heading-{{ loop.index }}">
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#faq-collapse-{{ loop.index }}"
                                aria-expanded="false"
                                aria-controls="faq-collapse-{{ loop.index }}">
                            {{ entry.question }}
                        </button>
                    </h3>
                    <div id="faq-collapse-{{ loop.index }}"
                         class="accordion-collapse collapse"
                         aria-labelledby="faq-heading-{{ loop.index }}"
                         data-bs-parent="#faqSection">
                        <div class="accordion-body">{{ entry.answer }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
