<!DOCTYPE html>

{% extends "base.html" %}

{% block description %}Page containing information on why a table was given its name.{% endblock %}

{% block header %}{{ config.app_name }} - Varför heter detta bordet {{ table_name }}?{% endblock %}

{% block content %}
    <p>Det finns många fina anledningar till att detta bordet heter just {{ table_name }}. Här kommer en handfull:</p>
    <ul>
        {% for reason in reasons %}
        <li>{{ reason }}</li>
        {% endfor %}
    </ul>
{% endblock %}
