<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{%- block description -%}Default description{%- endblock -%}">
    <title>{{ app_name }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <main>
        <h1>{% block header %}{{ app_name }} - Default Header{% endblock %}</h1>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
